.message {
    background: #efefef;
    color: #6f6f6f;
    
    text-align: right;
    border-radius: 20px;
    border-top-right-radius: 0px;

    padding: 10px;
    margin-top: 5px;
    margin-left: auto;
    min-width: 50px;
    max-width: 190px;
    word-break: break-all;
}